<div id="<%= dom_id post %>" class="text-center post-container col-6" style="margin: auto;">
  <p>
    <%#= post.description %>
  </p>
  <p>
    <%= link_to "", post, class:"post-link", style:"z-index:" %>
  </p>
 
  <% post.images.each do |image| %>
    <%= image_tag(image, style: "max-width: 50%; height: auto; object-fit: contain;") %>
  <% end %>
  <% like = current_user.likes.find_by(post: post) if current_user%>
  <% if like.nil? %>
      <%=button_to "like", likes_path, params: { like: { "post_id" => post.id } }, method: :post%>
   <% else %>
   <%= button_to "unlike", like_path(like), method: :delete %>
   <% end %>
   <p><%= post.likes.count %> Likes </p>
  <p>
    <%= post.title %>
  </p>
</div>
<p>
    <%= link_to post.user.email, post.user,style:"z-index:" %>
  </p>
  